@import "/src/utils/variables.scss";
@import "/src/utils/mixings.scss";

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;

    &__name {
        font-size: 1.4rem;
        margin-left: 2em;
    }

    &__initial {
        color: $secondary-color;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5em;
        margin-left: 50%;
    }

    &__link {
        #light & {
            @include theme(null, $dark-color);
        }
        #dark & {
            @include theme(null, $light-color);
        }

        &-active {
            #light & {
                @include theme(null, $dark-color);
            }
            #dark & {
                @include theme(null, $light-color);
            }
            padding-bottom: 0.5em;
            border-bottom: 0.1875rem solid $secondary-color;
        }

        &:hover {
            #light & {
                color: $secondary-color;
            }
            #dark & {
                color: $secondary-color;
            }
        }
    }
}
