@import "/src/utils/variables.scss";

.navbar {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    width: 100%;
    font-size: 1.1rem;

    &__name {
        margin-left: 2em;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5em;
        margin-left: 50%;
    }

    &__link {
        &-active {
            padding-bottom: 0.5em;
            border-bottom: 0.1875rem solid $secondary-color;
            transition: 250ms;
        }

        &:hover {
            transition: 300ms;
            color: $secondary-color;
        }
    }
}
